
@{
    ViewData["Title"] = "Registration Successful";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        You have registered with us successfully!
        We have sent you verification link to registered email <strong>@ViewData["Email"]</strong>,
        please login to you your email and click on link to activate your account.
    </p>
    <p>
        Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
    </p>
</div>

